/* General Styling
--------------- */
:root {
    --background-color: #FAFAFA;;
    --text-color: #4B6A9B;
    --section-bg: #FEFEFE;
    --stats-bg: #F6F8FF;
    --stats-color: #4B6A9B;
--purewhite: #FFFFFF;
    --bg-white: #FFFFFF;
    --bg-body: #FAFAFA;

        --white: #FEFEFE;

    --royalblue: #5175FF;
    --bg-blue: #5175FF;

    --fadedblue: #829CFF;

    --darkblue: #333950;
    --clr-hdr: #333950;

    --black: #25293A;
    --bg-footer: #25293A;

    --grey: #747B95;
    --clr-text: #747B95;

    --red: #F05B5B;
}

*,
html {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  /* min-width: 20px; */
  display: block;
  /* color: var(--text-color); */
  /* color: transparent; */
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input, textarea, select, legend {
  -webkit-box-sizing: border-box;
  box-sizing: border;
}

/* form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* legend {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: var(--clr-hdr);
    min-width: 327px;
    margin: 24px;

} */

/* @media screen and (min-width: 768px) {
    legend {
        /* margin: 0; */
    }
} */

/* label {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--clr-text);
    margin: 24px;
} */

/* @media screen and (min-width: 768px) {
    label {
        margin: 0;
    }
} */


.bg-blue {
    background-color: var(--bg-blue);
    
}

.bg-white {
    background-color: var(--bg-white);
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    /* color: var(--clr-hdr); */
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* color: var(--clr-hdr); */
    margin: 40px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--purewhite);
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.bodytext1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* color: var(--clr-text); */
}

.bodytext2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-block: 8px;
    /* color: var(--clr-text); */
}

.clr-black {
    color: var(--darkblue);
}

.clr-grey {
    color: var(--clr-text);
}

.clr-white {
    color: var(--purewhite);
}

.clr-white-opacity {
    color: var(--purewhite);
    mix-blend-mode: normal;
    opacity: .75;
}

/* BUTTONS
---------- */
button {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width: 171px;
    height: 56px;
    outline: none;
    border: none;
    border-radius: 28px;
    margin-top: 24px;
    margin-bottom: 40px;

    

}

.btn-blue {
    background-color: var(--bg-blue);
    color: var(--purewhite);
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}

.btn-blue:hover {background-color: var(--fadedblue);}

.btn-grey {
    background-color: rgba(81, 117, 255, .15);
    color: var(--royalblue);
}

/* .btn-grey-text {color: var(--royalblue);} */

.btn-grey:hover {opacity: 0.25;}

.btn-white {
    background-color: var(--purewhite);
    color: var(--bg-blue);
}

.btn-white:hover {color: var(--fadedblue);}

/* FORM ELEMENTS
---------------- */
input {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background-color: none;
}

.input-box {
    color: var(--grey);
    mix-blend-mode: normal;
    opacity: 0.5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--grey);
    
}

/* text field filled */
.input-box::after {
    opacity: 1;
}

/* text field error */
.input-box {
    opacity: 1;
}

/* ------------------
------------------ */

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--bg-body);
    color:  var(--clr-text);

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* HEADER section incl. logo, graphic and masthead
-------------------------------------------------- */
header {
    min-width: 327px;
}

.logo {
    /* text-align: center; */
    /* margin: 0 auto; */
    /* width: 150px; */
    /* height: 30px; */

}

.logo img {
    margin: 0 auto;
    padding: 46px 0 40px 0;
}

.logo-bg {
    background-image: url(./assets/home/bg-pattern-header.svg);
    background-size: contain;
    background-position: -42px -170px;
    background-repeat: no-repeat;
    position: absolute;


    width: 458px;
    height: 458px;

}

.header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 24px;
}



@media screen and (min-width: 768px) {
    .header-box {
        flex-direction: row-reverse;
        align-items: flex-start;
        /* margin: 40px; */
    }
}



.charts {
    width: 52vw; /* 171px */
    margin: 40px;
}

@media screen and (min-width: 768px) {
    .charts {
        min-width: 281px;
    }
}

.header-info {
    min-width: 327px;
    text-align: center;
    margin-block: 24px;
}

@media screen and (min-width: 768px) {
    .header-info {
        min-width: 345px;

    }
}

.header-info h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* text-align: center; */
    color: var(--clr-hdr);
    /* min-width: 327px; */
    /* margin-block-start: 0; */
    /* margin-block-end: 0; */
}

.header-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--clr-text);
    margin-top: 24px;
}

/* MAIN section including cards...did 4 cards
--------------------------------------------- */

main {
    margin: 60px 24px 100px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

}

@media screen and (min-width: 768px) {
    main {
        margin: 104px 40px 104px 40px;
    }
}


.basic-card, .pro-card, .ultimate-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;

    width: 328px;

    margin-bottom: 2rem;

}

.basic-card {
    background-color: var(--purewhite);

}

.pro-card {
    background-color: var(--bg-blue);
}

.ultimate-card {
    background-color: var(--purewhite);
}

.pricing-bg {
    background-image: url(./assets/home/bg-pattern-pricing.svg);
    background-size: contain;
    background-position: center -179px;
    background-repeat: no-repeat;
    position: absolute;
    width: 880px;
    height: 880px;
}

/* countdown card part...originally thought it would be footer
but was difficult getting black background and image to position 
correctly then realized it is much like the other cards
----------------- */
.countdown-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 87.46vw;

    margin-top: calc(100px - 2rem);
    margin-bottom: 2rem;



}

.bg-black {
    position: absolute;
    width: 1202px;
    height: 1202px;

    mix-blend-mode: normal;
    opacity: 1;
    transform: rotate(-180deg);

    background-color: var(--black);
    background-image: url(./assets/home/bg-pattern-footer.svg);
    /* background-size: contain; */
    /* background-position: center center; */
    top: 38.5%;
    background-repeat: no-repeat;
    z-index: -1;
}

h3 span {
    color: var(--royalblue);
}

.countdown {
    display: flex;
    
}

.days, .hours, .min, .sec {
    width: 72px;
    height: 92px;
    background-color: var(--darkblue);
    border-radius: 4px;
    list-style-type: none;
    margin-inline: 6.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li:first-child {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--purewhite)
}

li:last-child {
    color: var(--purewhite);
    mix-blend-mode: normal;
    opacity: 0.5;

}

