/* General Styling
--------------- */
:root {
    --background-color: #FAFAFA;;
    --text-color: #4B6A9B;
    --section-bg: #FEFEFE;
    --stats-bg: #F6F8FF;
    --stats-color: #4B6A9B;
--purewhite: #FFFFFF;
    --bg-white: #FFFFFF;
    --bg-body: #FAFAFA;

        --white: #FEFEFE;

    --royalblue: #5175FF;
    --bg-blue: #5175FF;

    --fadedblue: #829CFF;

    --darkblue: #333950;
    --clr-hdr: #333950;

    --black: #25293A;
    --bg-footer: #25293A;

    --grey: #747B95;
    --clr-text: #747B95;

    --red: #F05B5B;
}

*,
html {
    margin: 0;
    padding: 0;
}

/* *, *:before, *:after {
margin: inherit;
padding: inherit;
} */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input, textarea, select, legend {
  -webkit-box-sizing: border-box;
  box-sizing: border;
}

/* form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* legend {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: var(--clr-hdr);
    min-width: 327px;
    margin: 24px;

} */

/* @media screen and (min-width: 768px) {
    legend {
        margin: 0;
    }
} */

/* label {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--clr-text);
    margin: 24px;
} */

/* @media screen and (min-width: 768px) {
    label {
        margin: 0;
    }
} */


.bg-blue {
    background-color: var(--bg-blue);
    
}

.bg-white {
    background-color: var(--bg-white);
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    /* color: var(--clr-hdr); */
}

h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* color: var(--clr-hdr); */
    margin: 40px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--purewhite);
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 24px;
}

h5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: var(--clr-hdr);
}

.bodytext1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* color: var(--clr-text); */
}

.bodytext2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-block: 8px;
    /* color: var(--clr-text); */
}

.bodytext3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.clr-black {
    color: var(--darkblue);
}

.clr-grey {
    color: var(--clr-text);
}

.clr-white {
    color: var(--purewhite);
}

.clr-white-opacity {
    color: var(--purewhite);
    mix-blend-mode: normal;
    opacity: .75;
}

/* Link Anchors and BUTTONS
---------- */
button, a {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width: 171px;
    height: 56px;
    outline: none;
    border: none;
    border-radius: 28px;
    margin-top: 24px;
    margin-bottom: 40px;
    text-decoration: none;
    padding: 14px 40px 14px 40px;
}

.btn-blue {
    background-color: var(--bg-blue);
    color: var(--purewhite);
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}

.btn-blue:hover {background-color: var(--fadedblue);}

.btn-grey {
    background-color: rgba(81, 117, 255, .15);
    color: var(--royalblue);
}

/* .btn-grey-text {color: var(--royalblue);} */

.btn-grey:hover {opacity: 0.25;}

.btn-white {
    background-color: var(--purewhite);
    color: var(--bg-blue);
}

.btn-white:hover {color: var(--fadedblue);}

/* FORM ELEMENTS
---------------- */
input {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background-color: none;
}

.input-box {
    color: var(--grey);
    mix-blend-mode: normal;
    opacity: 0.5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--grey);
}

/* text field filled */
.input-box::after {
    opacity: 1;
}

/* text field error */
.input-box {
    opacity: 1;
}

/* ------------------
------------------ */

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--bg-body);
    color:  var(--clr-text);

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* HEADER section incl. logo, graphic and masthead
-------------------------------------------------- */
header {
    min-width: 327px;
}

@media screen and (min-width: 768px) {
    header {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    header {
        max-width: 1440px;
    }
}

/* LOGO
------- */

.logo img {
    margin: 0 auto;
    padding: 46px 0 40px 0;
}

@media screen and (min-width: 768px) {
    .logo img {
        margin: 0;
        padding: 46px 0 40px 40px;
    }
}

@media screen and (min-width: 992px) {
    .logo img {
        padding: 46px 0 40px 165px;
    }
}

.logo-bg {
    background-image: url(./assets/home/bg-pattern-header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 458px;
    height: 458px;
    background-position: -42px -170px;
}

@media screen and (min-width: 768px) {
    .logo-bg {
        width: 666px;
        height: 666px;
        background-position: 40px -164px;
        margin-left: 395px;
    }
}

@media screen and (min-width: 992px) {
    .logo-bg {
        width: 1134px;
        height: 1134px;
        background-position: 165px -419px;
        margin-left: 656px;
    }
}

.header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

@media screen and (min-width: 768px) {
    .header-box {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 64px 40px 40px 40px;
    }
}

@media screen and (min-width: 992px) {
    .header-box {
        margin: 165px;
    }
}

.charts {
    width: 52vw; /* 171px */
    /* margin: 40px; */
}

@media screen and (min-width: 768px) {
    .charts {
        width: 37vw; /* 281px */
    }
}

@media screen and (min-width: 992px) {
    .charts {
        width: 33vw; /* 475px */
    }
}

.header-info {
    min-width: 327px;
    text-align: center;
    margin-block: 24px;
}

@media screen and (min-width: 768px) {
    .header-info {
        width: 45vw;
        text-align: left;
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    .header-info {
        width: 38vw;
        /* text-align: left; */
        /* margin: 0; */
    }
}

.header-info h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--clr-hdr);
}

.header-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--clr-text);
    margin-top: 24px;
}

/* MAIN section including cards...did 4 cards
--------------------------------------------- */

main {
    margin: 60px 24px 100px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

@media screen and (min-width: 768px) {
    main {
        margin: 104px 48px 104px 48px;
    }
}

@media screen and (min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: 508px 176px;
        column-gap: 30px;
        row-gap: 82px;
        grid-template-areas: 
            "basic pro ultimate"
            "countdown countdown countdown";
        max-width: 1440px;
        justify-content: center;
        align-items: center;
        }
}




.basic-card, .pro-card, .ultimate-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;

    width: 328px;

    margin-bottom: 2rem;

}

@media screen and (min-width: 768px) {
    .basic-card, .pro-card, .ultimate-card {
        width: 689px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .basic-card, .pro-card, .ultimate-card {
        width: 350px;
    }
}

.basic-card {
    background-color: var(--purewhite);
    grid-area: basic;
}

.pro-card {
    background-color: var(--bg-blue);
    grid-area: pro;
}

.ultimate-card {
    background-color: var(--purewhite);
    grid-area: ultimate;
}

.card-hdr {
    min-width: calc(689px / 2);
}

.card-txt {
    min-width: calc(689px / 2);
}

.pricing-bg {
    background-image: url(./assets/home/bg-pattern-pricing.svg);
    background-size: contain;
    background-position: center -179px;
    background-repeat: no-repeat;
    position: absolute;
    width: 880px;
    height: 880px;
}


/* countdown card part...originally thought it would be footer
but was difficult getting black background and image to position 
correctly then realized it is much like the other cards
----------------- */
.countdown-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 87.46vw;

    margin-top: calc(100px - 2rem);
    margin-bottom: 2rem;
    grid-area: countdown;
}

@media screen and (min-width: 992px) {
    .countdown-card {
        max-width: 1110px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
}

.bg-black {
    position: absolute;
    width: 1202px;
    height: 1202px;

    mix-blend-mode: normal;
    opacity: 1;
    transform: rotate(-180deg);

    background-color: var(--black);
    background-image: url(./assets/home/bg-pattern-footer.svg);
    /* background-size: contain; */
    /* background-position: center center; */
    top: 38.5%;
    background-repeat: no-repeat;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .bg-black {
        width: 1454px;
        /* height: 1454px; */
        max-height: 986px;
        top:37%;
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .bg-black {
        width: 2036px;
        /* height: 2036px; */
        top: 29%;
        max-height: 603px;
        max-width: 1440px;
    }
}

h3 span {
    color: var(--royalblue);
}

.countdown {
    display: flex;
}

.days, .hours, .min, .sec {
    width: 72px;
    height: 92px;
    background-color: var(--darkblue);
    border-radius: 4px;
    list-style-type: none;
    margin-inline: 6.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li:first-child {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--purewhite);
}

li:last-child {
    color: var(--purewhite);
    mix-blend-mode: normal;
    opacity: 0.5;

}

/* SIGN-UP HTML classes
----------------------- */

.main-box {
    min-width: 327px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 768px) {
    .main-box {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .main-box {
        max-width: 1440px;
        flex-direction: row;
    }
}

.masthead-box {

}